/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 560px;

// Small tablets (portrait view)
$screen-md-min: 748px;

// Tablets and small desktops
$screen-lg-min: 976px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$primary: #1CBAC7;
